<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Geography Game - Home</title>
</head>
<body>
    <h1>Welcome to the Geography Game</h1>
    <p>Instructions:</p>
    <ul>
        <li>The computer will select a city.</li>
        <li>You must then name a city that starts with the last letter of the computer's city.</li>
        <li>The game continues until someone can't think of a city or names a city that's already been used.</li>
    </ul>
    <a href="/gameplay">Start Game</a>
</body>
</html>
